<!doctype html>
<html lang="en">
<head>
  <title>heimda11r</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<pre>
            __         _               __     ______
           / /_  ___  (_)___ ___  ____/ /___ <  <  /____
          / __ \/ _ \/ / __ `__ \/ __  / __ `/ // / ___/
         / / / /  __/ / / / / / / /_/ / /_/ / // / /
        /_/ /_/\___/_/_/ /_/ /_/\__,_/\__,_/_//_/_/

</pre>

<p>In Norse mythology, Heimdallr is a god who possesses the resounding horn Gjallarhorn, owns the golden-maned horse Gulltoppr, is called the shining god and the whitest of the gods, has gold teeth, and is the son of Nine Mothers (who may represent personified waves). Heimdallr is attested as possessing foreknowledge, keen eyesight and hearing, and keeps watch for invaders and the onset of Ragnarök while drinking fine mead in his dwelling Himinbjörg, located where the burning rainbow bridge Bifröst meets the sky. Heimdallr is said to be the originator of social classes among humanity and once regained Freyja's treasured possession Brísingamen while doing battle in the shape of a seal with Loki. Heimdallr and Loki are foretold to kill one another during the events of Ragnarök. Heimdallr is additionally referred to as Rig, Hallinskiði, Gullintanni, and Vindlér or Vindhlér. <a href=https://en.wikipedia.org/wiki/Heimdallr>Wikipedia</a></p>


</body>
</html>
